<!DOCTYPE html>
<html>
  <head>
    <title>New Figure</title>
  </head>

  <body>
    <form method="POST" action="/landmarks">
      <label>Name: </label><input type="text" name="landmark[name]" id="landmark_name">

      <br></br>

      <label>Year Completed: </label><input type="text" name="landmark[year_completed]" id="landmark_year_completed">
      <br></br>

      <button type="submit" value="create">Create New Landmark</button>
    </form>
  </body>
</html>
